body {
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

.top_menu {
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex-grow: 1;
}

.top_menu img {
  height: 50px;
}

nav span {
  display: inline-block;
  text-decoration: underline;
}


.info .backimage {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin: 0px 60px;
}

.info {
  font-family: Helvetica;
  color: seashell;
}
